@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

body {
  font-family:  "Geist", sans-serif;
}

/* Hide number input stepper arrows for Chrome, Safari, Edge */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input stepper arrows for Firefox */
.no-spinner {
  -moz-appearance: textfield;
}
